
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira:ital,wght@0,600;1,500&display=swap');

body, html {
    height: 100%;
}

#logotext {
    color: #377E7A;
    background-color: white; /* kolla denna jan */
    text-decoration: none;
    font-family: Saira;
    font-weight: 600;
}

#hero-image {
    background-image: url("../images/hero3.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}