@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Saira:ital,wght@0,600;1,500&display=swap');

header {
  background-color: white;
}

/* Style the header to make it sticky */
.sticky {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #EAD8D8;
}

.non_sticky {
  background-color: #EAD8D8;
  right: 0;
  left: 0;
  z-index: 999;
}


html {
  height: 100%;
  width: 100%;
  margin: 0;
  text-decoration: none;
}
/* styling the body's background and font.. */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: whitesmoke;
  font-family: Open Sans;
  text-decoration: none;

}
footer {
  background-color: #EAD8D8;
  padding-top: 10px;
}
form {
  padding-bottom: 10px;
}
/* This is to remove the underlining and and default circle notation for list items. */
.footer_list ul {
  list-style-type: none;
  text-decoration: none;
}
/* Add this class to sections that we wish to have the text centered*/
.text-center {
  text-align: center;
}
/* this is specific padding for the about us text on the main page(index.html) */
#text_main {
  padding-top: 5%;
}
/* this is specific for jespers intro text on hi spage (jesper.html) */
#jesper-text {
  padding-top: 3%;
  padding-bottom: 3%;
}
/* This is specific for josefs intro text on his page (josef.html) */
#josef-text {
  margin-top: 20px;
}
/* This is the overlay that is used over the hero images */
#hero-text {
  font-size: 130%;
  font-family: Saira;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: #EAD8D8;

  bottom: 30px;
  right: 150px;

  position: absolute;
  text-align: center;
}
/* We have to state that the div is full size since we usee percentage to size the elements under it */
div {
  height: 100%;
  width: 100%;
}
/* styling for all anchors, to remove the default text decoration */
a {
  color: #65768b;
  text-decoration: none;
}
/* added styling when hovering anchors */
a:hover {
  color: #821122;
  text-decoration: none;
  cursor: pointer;
}
/* Style the the lsit element under the footer_decoration class */
.footer_decoration li {
  list-style-type: none;
  text-decoration: none;
}
/* Styling the navigation menu */
.menu {
  font-family: Saira;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
/* Style the list elements under the menu */
.menu li {
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  display: inline;
}
/* This is the styling for the KOROS logo */
.logotext {
  color: #707070;
  font-family: Saira;
  font-weight: 600;
  background-color: white;
  text-align: center;
  font-size: 50px;
}
/* This is to style the button type */
button {
  border: none;
  color: #dcdcdc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*  This is for the text section on the succes page*/
#success {
  height: 100%;
}
/* Specific button styling */
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #EAD8D8;
}
/* Ensuring parent element is of adequate size */
#hero-outer {
  height: 100%;
}
/* The styling for the hero image on the main page index.html */
#hero-image {
  background-image: url("../images/bw_gym.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* This for the image under the about us section on the main page*/
#index-image1 {
  background-image: url("../images/josef_stretch.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* Thisis for the image udner the "Meet The team" section on the main page index.html */
#index-image2 {
  background-image: url("../images/jesper_stretch.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  float: left;
  padding-top: 30%;
}
/* This is the hero image on jesper.html */
#hero-jesper {
  background-image: url("../images/jesper_hero.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/* This is the hero image on josef.html */
#hero-josef {
  background-image: url("../images/josef_hero.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  float: left;
  padding-top: 20%;

}
/* styling for the text header change to h2 istället jan walla!!!!!!!!!*/
.text-header {
  font-family: saira;
  font-size: 32px;
}

/* All the coming styling is fo rthe block elements */

#block_section {
  padding-bottom: 20px;
}
/* The wrapper is influential in the positioning of the boxes, when adding more boxes it will effect how many boxes are shown per line*/
.wrapper {
  width: 50%;
}

.header-container {
  color: white;
  height: 50px;
  background: black;
  background: rgba(0, 0, 0, .5);
  border-bottom: solid 1px black;
}

.header {
  margin: 0 auto;
}

.header h1 {
  font-weight: 400;
  margin: 0;
  margin-left: .5em;
  padding-top: 5px;
}

.blocks {
  margin: 0 auto;
}
/* This is stylig of the actual box, float:left; is important for it to work as intended */
.block {
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  background: black;
  width: 18.85%;
  margin-right: 1%;
  min-width: 250px;
  height: 260px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, .3);
  text-align: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  border: solid 1px #000;
  text-decoration: none;
}
/* When hovering the block the text and icons are turned to white */
.block:hover {
  color: white;

}

/* This is for styling the coach's name on the box */
.heading {
  height: 30px;
  position: relative;
  font-size: 1.4em;
  width: 100%;
  background: rgba(255, 255, 255, .13);
  padding: 25px 0;
  border-bottom: solid 1px;
  font-family: Saira;
}
/* This is the stylign for the icon found on the box*/
.num {
  position: relative;
  font-size: 4em;
  padding-top: 40px;
  font-family: Saira;
}
/* This is styling for the specific box, this one is for coach jesper */
.green {
  color: #821122;
  background-image: url("../images/jesper_coach.jpg");
  background-size: cover;
}
/* This is styling for the specific box, this one is for coach josef */
.orange {
  color: #65768b;
  background-image: url("../images/josef_coach.jpg");
  background-size: cover;
}

/* Styling for the contact form on the main page index.html */
.contact_form {
  text-align: center;
  padding-top: 20%;
}

@media screen and (max-width: 500px) {
  .logotext {
    color: #707070;
    font-family: Saira;
    font-weight: 600;
    background-color: white;
    text-align: center;
    font-size: 36px;
  }

  #hero-text {
    font-size: 80%;
    font-family: Saira;
    letter-spacing: 4px;
  
    width: 150x;
    height: 100px;
  
    padding-top: 20x;
    padding-left: 5px;
  
    background-color: #EAD8D8;
  
    bottom: 15px;
    right: 75px;
  
    position: absolute;
    text-align: center;
  }

}